<div class="form-horizontal" style="text-align: left">
    <label for="example-date-input" class="col-2 col-form-label">Date:</label>
    <div class="col-10">
      <input class="form-control" type="date" value="00-00-0000" id="example-date-input">
    </div>
    <div class="form-horizontal" class="col-5 col-form-label" style="text-align: left">
        <label for="details">Details:</label>
        <textarea class="form-control" rows="10 " id="details"></textarea>
      </div>
  </div>
  <app-footer></app-footer>